.backgroundadminlogin{
       background-image: url("./images/lampbackground_light.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.adminlog_palete {
     position: absolute;
    top: 48%;
    left: 50.5%;
    height: auto;
    width: 400px;

    transform: translate(-50%, -45%);
      visibility: visible;
    pointer-events: auto;

    transform: translate(-50%, -55%) scale(0.95);
    transition: transform 0.35s ease;

    background-color: rgba(170, 220, 200, 0.85);
    padding: 30px;
    border-radius: 12px;
    border-color: rgb(37, 71, 37);
    border:4px solid rgb(49, 87, 54);
    backdrop-filter: blur(6px); 
}

.inputadminlog{
    background-color:#E6F2EC;  
    color: #2C2C2C;     
    -webkit-text-fill-color: #2C2C2C;          
    border: 1px solid #9C9F6B;
    padding: 1px 1px;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
}


input[type="submit"]{
    background-color: #4F6F52;   /* deep olive green */
    color: #FFFFFF;              /* white text */
    border: none;
    padding: 10px 16px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #3E5F42;
}

input.inputadminlog:focus{
     border-color: #6B7A3C;

}

.adminlog_contents{
    display: flex;
    flex-direction: column;   
    align-items: stretch;
}

.useradminlogtext {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 3px;
    color: #1E3D34;
}



.submitbutton{
    display: block;
    width: 40%;
    margin-top: 23px;
    margin-left: 120px;

}

input.inputadminlog::placeholder {
    font-size: x-small;
    opacity: 0.6;
    color: #6E6E6E;   /* optional but recommended */
}

.adminlogpage{
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 68, 60);
    text-decoration: underline;
    font-size: 14px;
}







